<header>
  <h1><%= t('.dashboard') %></h1>
</header>
<main>
  <section>
    <h2><%= t('banks.dashboard.count') %></h2>
    <p><%= @banks %></p>
  </section>
  <section>
    <h2><%= t('providers.dashboard.count') %></h2>
    <p><%= @providers %></p>
  </section>
</main>
